.DS_store

#################### frontend　####################
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Node modules
frontend/node_modules

# Build outputs
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/*.local

# Cypress output
frontend/cypress/videos/
frontend/cypress/screenshots/

# Editor directories and files
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

#################### backend　####################
# Ignore bundler config.
backend/.bundle

# Ignore all logfiles and tempfiles.
backend/log/*
backend/tmp/*
!backend/log/.keep
!backend/tmp/.keep

# Ignore pidfiles, but keep the directory.
backend/tmp/pids/*
!backend/tmp/pids/
!backend/tmp/pids/.keep

# Ignore uploaded files in development.
backend/storage/*
!backend/storage/.keep
backend/tmp/storage/*
!backend/tmp/storage/
!backend/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
backend/config/master.key
